@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/gothamrnd-medium.ttf");
  font-family: "Gotham Rounded";
}
body {
  margin: 0;
  overflow: hidden;
  font-family: "Gotham Rounded";
  font-size: 15px;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2E222D;
}

section {
  width: 100vw;
}

h1 {
  padding: 10px 20px;
}
h1 span {
  font-size: 16px;
  color: #ccc;
}

h3 {
  text-transform: uppercase;
}

p {
  color: #ccc;
}

.container {
  width: calc((100vw / 3) - 45px);
  margin: 20px;
  height: 60vh;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #4D394B;
  float: left;
  border-radius: 5px;
}

.content {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 72px);
}

img {
  height: 100%;
  width: auto;
}

.main-title {
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.mb-track {
  border-radius: 5px;
}

.mb-bar {
  background-color: #4C9689;
}

body > .mb-container > .mb-track {
  background-color: #110c10;
  border-radius: 5px;
}

.container:nth-child(3) .mb-track {
  background-color: #2E222D;
  border-radius: 5px;
}

.container:nth-child(4) .mb-track {
  background-color: #2E222D;
}
.container:nth-child(4) .mb-track-x {
  height: 2px;
  bottom: 4px;
}
.container:nth-child(4) .mb-track-x .mb-bar {
  height: 10px;
  top: -4px;
}
.container:nth-child(4) .mb-track-y {
  width: 2px;
  right: 4px;
}
.container:nth-child(4) .mb-track-y .mb-bar {
  width: 10px;
  left: -4px;
}

.container:nth-child(5) .mb-track {
  background-color: #2E222D;
  height: 50%;
}

.container:nth-child(6) .mb-track {
  background-color: #2E222D;
}
.container:nth-child(6) .mb-bar {
  border-radius: 0;
}

.container:nth-child(7) .mb-track {
  background-color: rgba(0, 0, 0, 0.6);
}
